DB_HOST=153.92.15.31
DB_PORT=3306
DB_USER=u875409848_2026
DB_PASSWORD="b$NkxatG9"
DB_NAME=u875409848_2026
JWT_SECRET=torino_super_secret_2026
EMAIL_FROM=onboarding@resend.dev
RESEND_API_KEY="re_gymtPgtr_3PvwJ8nitqjS6JjQCBSTo7H4"